.cabecera{
  width: auto;
  height: 150px;
  background: -webkit-linear-gradient(top, #A3BD31 0%,#8A9A2A 100%);
  background-image: -webkit-linear-gradient(top, rgb(163, 219, 49) 0%, rgb(138, 154, 32) 100%);
  border-bottom: 4px solid #2A4C03;
}
h1,h2,h3,h4, table, span, form{
  font-family: 'Montserrat', sans-serif;
  color: #5E616D;
}
.cabecera h1{
  font-size: 85px;
  color: white;
  display: inline;
  float: left;
  text-align: center;
  margin: 25px 60px;
}
.titulo h2 {
  color: #3B3C3F;
  position: fixed;
  margin: 0px;
  display: inline-block;
  top: 120px;
  left: 130px;
  font-size: 18.7px;
}
.titulo h3{
  color: #3B3C3F;
  position: fixed;
  margin: 0px;
  display: inline-block;
  top: 122px;
  left: 584px;
  font-size: 13px;
}
.cabecera #logo{
  float: right;
  margin: 0 30px;
}
.navegacion{
  width: 100%;
}
.navegacion ul{
  margin-top: 0px;
}
.navegacion ul li{
  margin-top: 0px;
  display: inline;
  font-family: 'Montserrat', sans-serif;
  background-color: #335907;
}
.navegacion ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 30px 10px 30px;
  background-color: #335907;
}
.navegacion ul li a:hover {
  background: #2A4C03;
}
.navegacion{
  width: auto;
  height: 47px;
  background-color: #335907;
}
.pie{
  width: 100%;
  text-align: right;
  background-color: #C3C4C8;
  border-top: 3px solid #3B3C3F;
}
.cuerpo{
  width: 80%;
  margin: 0px auto;
}
.cuerpo img{
  width: 20%;
  display: inline-block;
  float: none;
}
.cuerpo h2{
  color: #8A9A2A;

}
.cuerpo span{
  width: 50%;
  display: inline-block;
}
.tablas  {
  border: 4px solid #8A9A2A;
  border-radius: 7px;
  border-spacing: 0px;
  text-align: center;
}
td, th  {
  border-collapse: collapse;
  border: 1px solid #335907;
}
.titulo-tabla{
  font-weight: bold;
  font-size: 18px;
}
.texto-tabla{
  font-weight:lighter;
}
.formulario{
  width: 80%;
  margin: 20px auto;
  display: grid;
}
legend{
  font-size: 20px;
  font-weight: bold;
  color: #335907;
}
.leable, #fecha, #institucion, #estudio-realizado, #culmino{
  font-weight: bold;
}
